
body.restaurant {
    background-image: url("../img/retro_bg_2.jpg");
    font-family: Georgia, Times, "Times New Roman", serif;
}

.title-main {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: -0.6rem;
}

.title-sub {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.error-box {
    color: red;
}

.error-box ul {
    list-style-type: none;
}

input[type="text"].invalid,
input[type="number"].invalid {
    border: 2px solid red;
    background: yellow;
    font-size: 1.1em;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.sample-body{
    background: #002b36;
}
.sample-header {
    background-color: #f2821e;
    color: white;
}
.sample-row > pre{
    color: white;
}
.sample-box {
    border: 2px solid #F08D32;
    background: white;
    font-size: 2em;
    border-radius: 10px;
}
.sample-box > .row > .nested {
    background: #d1d1d1;
}
.sample-box > .row > .nested p {
    font-family: monospace;
    font-size: .33em;
}