<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular.js Workshop</title>
    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Brian Peterson">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/theme/moon.css" id="theme">
    <link rel="stylesheet" href="css/reveal.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

</head>

<body>

<div class="reveal">

<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<section><h2>JS HTML5 Web App Workshop</h2>

    <p>With Angular.js and Zurb Foundation</p></section>

<!--Intro-->
<section>
    <div style="text-align: left; margin-top: 1em;">
        <h5>Your Instructor: Courtney Faulkner</h5>
        <p>
            Relevant Angular.JS Experience: Built a Single Page Web Application for a major insurance company
            and training the client to maintain and extend the application.
        </p>
    </div>

    <h2>Welcome</h2>

    <div style="text-align: left; margin-top: 1em;">
        <h5>Your Host: NVISIA</h5>

        <p>NVISIA is a hands-on software development partner that specializes in building core
            business platforms with our clients. …bringing innovation to enterprise software development for 22
            years.</p>
    </div>
</section>

<section><h2>Workshop Objectives</h2>
    <ul>
        <li>Learn what defines a Single Page Application(SPA)</li>
        <li>Discuss how SPA compares to classical web application architecture</li>
        <li>Touch briefly on other SPA frameworks and libraries</li>
        <li>Learn the basics of Angular.js for a Responsive Design</li>
    </ul>
    <div style="text-align: left; margin-top: 1.5em;">
    <h5>Presentation available at:</h5>
    <a href="http://www.nvisia.com/workshop-resources/angular-slides" target="_blank">http://www.nvisia.com/workshop-resources/angular-slides</a>
    </div>
</section>

<!--What does audience want to learn-->
<section>
    <aside class="notes">
        <p>What JavaScript Frameworks/Libraries have people used?</p>

        <p>What other Web technologies?</p>

        <p>What are people hoping to learn?</p>
    </aside>
    <h2>Why are you here?</h2>
</section>

<!--History of Web-->
<section>
    <aside class="notes">
        <p>Old problems:</p>
        <ul>
            <li>Original use of HTML</li>
            <li>JavaScript and CSS landscape</li>
            <li>Ability to manipulate DOM gave behavior with a downside</li>
        </ul>
        <p>New landscape Points:</p>
        <ul>
            <li>Mobile apps leverage JSON data</li>
            <li>Native mobile apps are hard/different</li>
            <li>Mobile apps require more test resources due to device sizes</li>
            <li>Tablet market share has exploded</li>
        </ul>
    </aside>
    <h3>How did we get here?</h3>

    <h5>HTML from the beginning</h5>
    <ul>
        <li>Static HTML content</li>
        <li>Web Forms, Struts, ASP</li>
        <li>Server based MVC, JSPs</li>
        <li>JSON and AJAX for RESTful data</li>
        <li>JavaScript 'Goo', DOM manipulation</li>
        <div class="fragment current-visible">What is next...</div>
        <div class="fragment">
            <li>Structured JavaScript with HTML</li>
            <li>Beginning to embrace HTML5 and CSS3</li>
            <ul>
                <li>Need for a Mobile friendly solution</li>
                <li>Testability across platforms</li>
                <li>Desktop Application behaviors</li>
            </ul>
        </div>
    </ul>
</section>

<!--Compare SPA to Traditional -->
<section>
    <section>
        <h3>SPA over Traditional</h3>

        <ul>
            <li>The server no longer composes the page.
                <ul>
                    <li>A move to client side template engines.</li>
                    <li>Server generated views can still be integrated.</li>
                </ul>
            </li>
            <li>Server no longer maps page transitions.
                <ul>
                    <li>A move to client side routing methods.</li>
                    <li>Server managed routes still work.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>SPA over Traditional</h3>

        <ul>
            <li>Content reuse.
                <ul>
                    <li>Page footer/header/menu is delivered once.</li>
                    <li>Constants delivered to browser as needed.</li>
                </ul>
            </li>
            <li>No more screen “blink” or non-responsive wait.
                <ul>
                    <li>Developers control progress/wait display.</li>
                    <li>Long actions happen in the background.</li>
                </ul>
            </li>
            <li>Difference in separation of code and web design.</li>
        </ul>

    </section>
    <section>
        <h3>Traditional Web Flow</h3>

        <div>
            <img style="background-color: #EEE8D5;" src="img/TraditionalWebFlow.png" alt="SPA Trend" width="55%"/>
        </div>
    </section>
    <section><h3>SPA Web Flow</h3>

        <div>
            <img style="background-color: #EEE8D5;" src="img/SPAWebFlow.png" alt="SPA Trend" width="55%"/>
        </div>
    </section>
</section>

<!--Examples of SPA-->
<section>
    <h3>Examples</h3>

    <div style="text-align: center;">
        <ul>
            <li>Google Mail</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Many online email clients</li>
        </ul>
    </div>
</section>
<!--Different Flavors-->
<section>
    <aside class="notes">
        <div>Talk about Size vs Power vs. Complexity</div>

        <div>Architectural Control</div>

        <div>How to select framework
            <ul>
                <li>work environment</li>
                <li>existing works</li>
                <li>comfort with JavaScript</li>
                <li>Level of architectural control</li>
            </ul>
        </div>
    </aside>
    <h3>SPA Frameworks and Libraries</h3>

    <div style="vertical-align: top;padding-top: 3em;">

        <div style="display: inline-block;vertical-align: top;">
            <ul>
                <li>AngularJS</li>
                <li>Backbone.js</li>
                <li>Ember</li>
                <li>Knockout</li>
                <li>Others...</li>
            </ul>

        </div>
        <div style="display: inline-block;margin-left: 2em;vertical-align: top;">
            <img src="http://www.nvisia.com/sites/default/files/SPA-Trend-From-Indeed.png" alt="SPA Trend"/>
        </div>
    </div>

</section>
<section>
    <section>
        <h3>AngularJS</h3>
        <img src="img/Angular.png" alt="" height="75px"/>

        <div style="font-size: 0.8em">
            <ul>
                <li>Established, Largest Growth, Google Approved!</li>
                <li>No dependencies.</li>
                <li>Inspired by Flex and Silverlight, so it’s declarative and has no ‘main’.</li>
                <li>A declarative framework, where you annotate HTML 5 with declarations.</li>
                <li>Doesn't require ‘full commitment‘.</li>
                <li>The dependency injection allows you to declaratively describe how your application is wired.</li>
                <li>Used for the PS3 Youtube app, whichairline.com, dailybreak, and many others.</li>
            </ul>

        </div>
    </section>
    <section>
        <h3>Backbone.js</h3>
        <img src="img/Backbone.png" alt="" height="75px"/>

        <div style="font-size: 0.8em">
            <ul>
                <li>Mature, with codebase leveling out. (less commits)</li>
                <li>Has dependencies on Underscore and JQuery.</li>
                <li>A smaller library providing structure to architect with.</li>
                <li>Add Marionette to go from library to framework.</li>
                <li>Can be “Injected” and used with other libraries or frameworks.</li>
                <li>Uses Underscore’s template method, but Handlebars or Mustache commonly used.</li>
                <li>Used in apps like FourSquare, GroupOn, USAToday and many more.</li>
            </ul>

        </div>
    </section>
    <section>
        <h3>Ember</h3>
        <img src="img/Ember.png" alt="" height="75px"/>

        <div style="font-size: 0.8em">
            <ul>
                <li> The largest framework, twice the size of Angular.</li>
                <li>The evolution of the Cocoa inspired SproutCore’s move towards JQuery.</li>
                <li>Has dependencies on JQuery and Handlebars.</li>
                <li>Intended to control the whole page, so only suitable to be used alone.</li>
                <li>Depends on scaffolding and convention.</li>
                <li>Uses Handlebars for templates.</li>
                <li>Used by Zendesk, Square, LivingSocial and many more.</li>
            </ul>

        </div>
    </section>
    <section>
        <h3>Knockout</h3>
        <img src="img/Knockout.png" alt="" height="75px"/>

        <div style="font-size: 0.8em">
            <ul>
                <li>Developed by Steve Sanderson, currently working for Microsoft.</li>
                <li>Considered an MVVM library.</li>
                <li>Declarative syntax similar to Angular.</li>
                <li>Declarative DOM based templates, but can also do string based.</li>
                <li>Small codebase.</li>
                <li>Gives importance to compatibility with older browsers.</li>
                <li>Used for amctheatres.com, pillsbury.com, jsFiddle and many others.</li>
            </ul>

        </div>
    </section>
</section>
<!--Tool overview-->
<section>
    <section><h3>Workshop tool overview</h3>

        <p><a href="http://angularjs.org" target="_blank">AngularJS</a></p>

        <p><a href="http://foundation.zurb.com" target="_blank">Zurb Foundation for Responsive Web</a></p>
        <aside class="notes">
            <p>Typical layout is a 12 column wide view port</p>

            <p>Allows for good sizing across different browsers such as mobile, tablet and desktop</p>
        </aside>
    </section>
    <section>
        <h3>Zurb Foundation sample behavior</h3>
        <a href="http://localhost:9000/sample.html" target="_blank">sample.html</a>
    </section>
</section>

<!--Narrative-->
<section>

    <section>
        <p style="margin-bottom: 15px;">Monday morning...</p>

        <div class="fragment">
            <p style="margin-bottom: 15px;">
                Your boss wants to quickly deploy a restaurant reservation system to take advantage of a new public
                rest
                api created by the chamber of commerce.</p>

            <p>It allows anyone to get information about restaurants and
                make
                reservations.
            </p>

            <p>The chamber of commerce plans to expand this service in the future, so she wants to
                get in
                on the ground floor.
            </p>

        </div>


    </section>
    <section>
        <p style="margin-bottom: 15px;">
            Since your boss wants this application quickly, the web designer has already created up a mock up
            for
            you to use in building the application.
        </p>

        <p> Since you’ve been hearing about building SPAs; you’ve decided to use AngularJS to build the
            application.
        </p>
    </section>
    <section>
        <h3>Server Backend</h3>

        <p>Node.js running a filesystem database</p>
        <aside class="notes">
            <p><strong>Most</strong> services follow RESTful API</p>
        </aside>

        <table style="font-size: 0.5em; ">
            <caption style="text-align: left; font-size: 1.5em;">REST Services</caption>
            <thead class="header">
            <th>Service URL</th>
            <th>Parameters</th>
            <th>Request Type</th>
            <th>Description</th>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>/restaurants</td>
                <td></td>
                <td>GET</td>
                <td>List of Restaurants</td>
            </tr>
            <tr>
                <td>/restaurants/:id</td>
                <td>:id ==> Restaurant Id</td>
                <td>GET</td>
                <td>Single Restaurant</td>
            </tr>
            <tr>
                <td>/restaurants/:id/reservations</td>
                <td>:id ==> Restaurant Id</td>
                <td>GET</td>
                <td>Get list of Reservations and Available Times for a Restaurant</td>
            </tr>
            <tr>
                <td>/reservations/:id</td>
                <td>:id ==> Reservation Id</td>
                <td>GET</td>
                <td>Get a single reservation</td>
            </tr>
            <tr>
                <td>/reservations/</td>
                <td>reservation request details.</td>
                <td>POST</td>
                <td>Save a Reservation</td>
            </tr>

            </tbody>
        </table>
    </section>
</section>
<!--Sample of final application-->
<section>
    <section><h3>Application Demo</h3>
        <a href="http://localhost:9000/index.html" target="_blank">SPA Application</a>
    </section>
    <section>
        <h3>Directory Structure</h3>
        <span style="font-size:  0.7em; line-height: normal">
        <ul style="list-style-type: disc">
            <li>reset.bat</li>
            <li>reset.sh</li>
            <li>run.bat</li>
            <li>run.sh</li>
            <li>node_modules</li>
            <li>webapp</li>
            <ul style="list-style-type: inherit">
                <li>css</li>
                <li>img</li>
                <li>js</li>
                <ul style="list-style-type: inherit">
                    <li>app.js</li>
                    <li>controllers.js</li>
                    <li>directives.js</li>
                    <li>formatters.js</li>
                    <li>services.js</li>
                </ul>
                <li>libs</li>
                <li>partials</li>
                <li>unit</li>
                <li>index.html</li>
                <li>test.html</li>
            </ul>
        </ul>
        </span>
    </section>
    <section><h3>Domain Model</h3>

        <div>
            <img width="60%" src="img/class-model.png"/>
        </div>
    </section>

</section>


<section>
    <!-- Getting Started -->
    <section>
	    <aside class="notes">
            <strong>Clearly explain approach for exercises.</strong>
            <ol>
                <li>walk through code</li>
                <li>answer any questions</li>
                <li>Provide code on screen or via a link</li>
                <li>assist getting it to work.</li>
                <li>provide a reset point</li>
            </ol>
	    </aside>
        <h3>Getting Started</h3>
        <ul>
            <li>Bootstrapping AngularJS</li>
            <li>Creating a Controller</li>
            <li>Dependency Injection</li>
        </ul>
    </section>


    <!-- Automatic Bootstrapping-->
    <section>
        <aside class="notes">
        </aside>
        <h3>Bootstrapping Angular JS</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; ">
        <!-- index.html -->
        &lt;html class="no-js" lang="en" ng-app="restaurantReservationApp" &gt;
            &lt;body&gt;
                ... omitted ...
            &lt;/body&gt;
        &lt;/html&gt;
        /* End */
        </pre>
        </span>
        <br>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; ">
        /*
         * Create bootstrap module based on ng-app name. (app.js)
         */

        var restaurantReservationApp =
			new angular.module('restaurantReservationApp', []);

        /* End */
        </pre>
        </span>
    </section>

    <!-- Create a Controller -->
    <section>
        <aside class="notes">
        </aside>
        <h3>Creating a Controller</h3>
        <span style="font-size:  1.1rem;">
        <pre class="brush: js; highlight:[7,8,9]">
        /*
         * Add a Controller to provide the Restaurant List. (controllers.js)
         * RestaurantListController is the ng-controller value in index.html.
         * It identifies the DOM element that this controller 'controls'
         */

         var restaurantReservationControllers = new angular.module('restaurantReservationControllers', []);

		 restaurantReservationControllers.controller('RestaurantListController', function ($scope) {
			$scope.restaurants = [
				{some restaurant information here},
				{more restaurant information}
				...
			];

        /* End */
        </pre>
        </span>
    </section>

    <!--List of Restaurants-->
    <section>
        <aside class="notes">
        </aside>
        <h3>Specify Controller Class</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[6]">

        /*
         * A List of Restaurants    (index.html)
         */

		<div class="row">
			<div ng-controller="RestaurantListController">
				<div id="restaurant-list-main" class="large-8 medium-8 columns">
					<div class='restaurantList'>
					...
		            </div>
                </div>
            </div>
        </div>
        /* End */
        </pre>
        </span>
    </section>
    <section>
        <aside class="notes">
        </aside>
        <h3>Dependency Injection</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[6,7]">
        /*
         * Create bootstrap module based on ng-app name. (app.js)
         */

        var restaurantReservationApp = angular.module('restaurantReservationApp', [
            'restaurantReservationControllers',
            'formatters'
        ]);

        /* End */
        </pre>
        </span>
    </section>
</section>
<section>
    <section>
        <h3>Exercise #1</h3>
        <ul>
            <li>Add Bootstrap to index.html</li>
            <li>Create Application Module with Dependencies</li>
            <li>Creating a Controller</li>
        </ul>
    </section>
    <section>
        <h3>Bootstrap Application and Specify Controller</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[2,8]">
            <!--  Add Bootstrap -->
            &lt;html class="no-js" lang="en" ng-app="restaurantReservationApp"&gt;
                ... omitted...
            &lt;body class="restaurant"&gt;

                <div class="row">
                    <!-- Add controller for Restaurant List -->
                    <div ng-controller="RestaurantListController">
                        <div id="restaurant-list-main" class="large-8 medium-8 columns">
                            ...omitted...
                        </div>
                    </div>
                </div>
            &lt;/body&gt;
        </pre>
        </span>
    </section>
    <!-- Application Module -->
    <section>
        <h3>Application Module with Dependencies Injected</h3>
                <span style="font-size:  1.25rem;">
        <pre class="brush: js; ">
        /*
         * Create bootstrap module based on ng-app name. (app.js)
         */

        var restaurantReservationApp = angular.module('restaurantReservationApp', [
            'restaurantReservationControllers',
            'formatters'
        ]);
        /* End */
        </pre>
        </span>
    </section>
    <!--Controller Module for Restaurant List-->
    <section>
        <h3>Creating a Controller</h3>
        <span style="font-size:  1.1rem;">
        <pre class="brush: js; ">
        /*
         * Create Controllers module. (controllers.js)
         */

        var restaurantReservationControllers =
            new angular.module('restaurantReservationControllers', []);

        // RestaurantListController is the ng-controller value in index.html.
        // It identifies the DOM element that this controller 'controls'
        restaurantReservationControllers.controller('RestaurantListController', function ($scope) {

            $scope.restaurants = [
                {"name": "Shogun", "cuisine": "Sushi",  ...
                    ...
                {"name": "Eddie Martini's", "cuisine": "Steakhouse", ...
            ];
        });
        /* End */
        </pre>
        </span>
    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <p style="padding-top: 1em;">Link to solution source: </p>
        <blockquote>
            <ul>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex1-solution/webapp/js/app.js" target="_blank">app.js</a>
                </li>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex1-solution/webapp/index.html" target="_blank">index.html</a>
                </li>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex1-solution/webapp/js/controllers.js" target="_blank">controllers.js</a>
                </li>
            </ul>
        </blockquote>

    </section>

    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
            <pre><code class="script">
                Prompt:&gt; git checkout tags/ex1-solution;
                or
                Prompt:&gt; git checkout -f tags/ex1-solution;
            </code></pre>
        </div>
    </section>
</section>

<section>
    <section>
        <aside class="notes">
        </aside>
        <h3>HTML Binding</h3>
        <ul>
            <li>curly braces {{ }} and ng-bind</li>
            <li>query and ng-repeat</li>
            <li>binding with ng-model</li>
            <li>filter</li>
        </ul>
    </section>
    <section>
        <aside class="notes">
            ng-bind is similar to {{  }}
            {{ }} is less verbose but needs to be ng-cloak to avoid early render with {{ }}.
            Enter name: <input type="text" ng-model="name"><br>
            Hello <span ng-bind="name"></span>!
        </aside>
        <h3>ng-bind</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[7,10,13]">
		/**
		 * ng-bind and curly braces binding (index.html)
		 **/
            ...
        <div class="row">
            <div class="large-3 medium-6 small-12 columns">
                <p>Price: {{restaurant.price|priceFormatter}}</p>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <p>Rating: {{restaurant.rating|ratingFormatter}}</p>
            </div>
            <div class="large-6 medium-12 small-12 columns">
                <p>Address: <span ng-bind="restaurant.address"></span></p>
            </div>
        </div>
            ...
		/* end */
		</pre>
		</span>
    </section>
    <section>
        <h3>ng-repeat</h3>
        <span style="font-size:  1.1rem;">
        <pre class="brush: js; highlight:[9]">
		/**
		 * query with ng-repeat(index.html)
		 **/
		<div class="row">
			<div ng-controller="RestaurantListController">
				<div id="restaurant-list-main" class="large-8 medium-8 columns">
					<div class='restaurantList'>
						<input type="text" ng-model="query" placeholder="Search for restaurant"/>
						<div class="row" ng-repeat="restaurant in restaurants |filter:query:strict">
							<div class="large-12 columns">

							...

		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		/* end */
		</pre>
		</span>
    </section>

    <section>
        <h3>ng-model</h3>
        <span style="font-size:  1.2rem;">
        <pre class="brush: js; highlight:[4,10]">
            /*
             * ng-model (reservation form partial)
            */
        <div ng-controller="ReservationFormController">
            <form name="reservationForm" novalidate class="css-form">
                <div class="row">
                    ...omitted...
                    <div class="large-6 columns">
                        <label>Number of Guests</label>
                        <input type="number" name="guests" ng-model="reservation.guests"/>
                    </div>
                </div>
                ...omitted...
            </form>
        </div>
        </pre>
        </span>
    </section>

    <section>
        <h3>Filter</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[6,9]">
		/**
		 * priceFormatter and ratingFormatter (index.html) are filters 
		 * that are defined in formatters.js 
		 **/
         <div class="large-3 medium-6 small-12 columns">
             <p>Price: {{restaurant.price | priceFormatter}}</p>
         </div>
         <div class="large-3 medium-6 small-12 columns">
             <p>Rating: {{restaurant.rating | ratingFormatter}}</p>
         </div>
                
		/* end */
		</pre>
		</span>
    </section>
</section>
<section>
    <section>
        <h3>Exercise #2</h3>
        <ul>
            <li>Add filter for ordering Restaurant List</li>
            <li>Add Query to search for Restaurant</li>
        </ul>
    </section>
    <section>
        <h3>Sort Restaurant List</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[4]">
		/**
		 * (index.html) order the restaurant list by name 
		 **/
         ng-repeat="restaurant in restaurants |filter:query:strict | orderBy:'name'"
         
		/* end */
    </section>
    <section>
        <h3>Enable Search for Restaurant</h3>
        <span style="font-size:  1.25rem;">
        <pre class="brush: js; highlight:[5]">
		/**
		 * (index.html) A text box to allow searching for a restaurant 
		 **/
		 <div class='restaurantList'>
             <input type="text" ng-model="query" placeholder="Search for restaurant"/>
             ... ommitted ....
         </div>
         
		/* end */
    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <p style="padding-top: 1em;">Link to solution source: </p>
        <blockquote>
            <ul>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex2-solution/webapp/index.html" target="_blank">index.html</a>
            </ul>
        </blockquote>

    </section>
    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
            <pre><code class="script">
                Prompt:&gt; git checkout tags/ex2-solution;
                or
                Prompt:&gt; git checkout -f tags/ex2-solution;
            </code></pre>
        </div>
    </section>
</section>

<section>
    <section>
        <h3>RESTful services via $http</h3>
        <ul>
            <li>Connecting to REST services</li>
        </ul>
    </section>
    <section>
        <h3>Connecting to REST services</h3>
        <span style="font-size:  1.1rem;">
        <pre class="brush: js; ">
            // RestaurantListController is the ng-controller value in index.html.
            // It identifies the DOM element that this controller 'controls'
            // This can be done a couple different ways.
            // However, this way supports minification and tends to be the preferred method.
            restaurantReservationModule.controller('RestaurantListController', ['$scope', '$http',
                function ($scope, $http) {

                // Use the Angular http service to retrieve the Restaurants.
                $http.get('/restaurants').success(function (data) {
                    $scope.restaurants = data;
                });
            }]);
        </pre>
        </span>
    </section>
</section>
<section>
    <section>
	    <aside>
	    </aside>
        <h3>Exercise #3</h3>
        <ul>
            <li>Replace static restaurant list with $http</li>
        </ul>
    </section>
    <section>
        <h3>REST Support</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  Add REST support for Restaurant List. (controllers.js)
             **/
            restaurantReservationModule.controller('RestaurantListController', ['$scope', '$http',
                function ($scope, $http) {

                    // Use the Angular http service to retrieve the Restaurants.
                    $http.get('/restaurants').success(function (data) {
                        $scope.restaurants = data;
                    });

                    $scope.orderProp = 'name'; // Defaults the order property to the Name value.

                }]);

            </pre>
            </span>

    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <p style="padding-top: 1em;">Link to solution source: </p>
        <blockquote>
            <ul>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex3-solution/webapp/js/controllers.js" target="_blank">controllers.js</a>
                </li>
            </ul>
        </blockquote>

    </section>

    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
                <pre><code class="script">
                    Prompt:&gt; git checkout tags/ex3-solution;
                    or
                    Prompt:&gt; git checkout -f tags/ex3-solution;
                </code></pre>
        </div>
        </p>
    </section>
</section>
<section>
    <section>
        <h3>Partials and Router</h3>
        <ol>
            <li>HTML Partial as a template</li>
            <li>Using a Router</li>
            <li>Connect Partials to the Controller</li>
        </ol>
    </section>
    <section>
        <h3>Partials</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  
             **/

            </pre>
            </span>

    </section>
    <section>
        <h3>Partials to Controller connection</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  
             **/

            </pre>
            </span>

    </section>
    <section>
        <h3>Router</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  
             **/

            </pre>
            </span>

    </section>
</section>
<section>
    <section>
        <h3>Exercise #4</h3>
        <ul>
            <li>Add the Router</li>
            <li>Connect Partials to the Controller</li>
        </ul>
    </section>
    <section>
        <h3>Add the Router</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  
             **/

            </pre>
            </span>

    </section>
    <section>
        <h3>Connect Partials to the Controller</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; ">
            /**
             *  
             **/

            </pre>
            </span>

    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <p style="padding-top: 1em;">Link to solution source: </p>
        <blockquote>
            <ul>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex4-solution/webapp/js/app.js" target="_blank">app.js</a>
                </li>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex4-solution/webapp/index.html" target="_blank">index.html</a>
                </li>
                <li><a href="https://github.com/NVISIA/AngularWorkshop/blob/ex4-solution/webapp/js/controllers.js" target="_blank">controllers.js</a>
                </li>
            </ul>
        </blockquote>

    </section>
    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
                <pre><code class="script">
                    Prompt:&gt; git checkout tags/ex4-solution;
                    or
                    Prompt:&gt; git checkout -f tags/ex4-solution;
                </code></pre>
        </div>
        </p>
    </section>

</section>

<section>
    <section>
        <h3>Validation</h3>
        <ol>
            <li>Required fields</li>
            <li>Patterns</li>
            <li>Disabling</li>
        </ol>
    </section>
    <section>
        <h3>Required fields</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[6]">
            /**
             *  Add 'required' key word to make a field mandatory.
             **/
             <div class="large-6 columns">
                 <label>Number of Guests</label>
                 <input type="number" name="guests" placeholder="#" ng-model="reservation.guests" required/>
             </div>

            /*  end */
            </pre>
            </span>
    </section>
    <section>
        <h3>Patterns</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[6]">
            /**
             *  Add ng-pattern to validate fields like a phone number.
             **/
             <div class="large-6 medium-6 columns">
                 <label>Phone:</label>
                 <input type="text" ng-pattern="/^1?-?(\d{3})?-?\d{3}-?\d{4}$/" name="phone" placeholder="###-###-####" ng-model="reservation.phone" required />
             </div>

            /*  end */
            </pre>
            </span>
    </section>
    <section>
        <h3>Disabling</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[5]">
            /**
             *  use ng-disabled to disable things like buttons until form data is complete.
             **/
             <div class="small-12 medium-12 large-12 small-centered columns">
                 <button class="small radius button" ng-click="makeReservation()" ng-disabled="reservationForm.$invalid">Make Reservation</button>
                 <a href="#/restaurants" class="small radius secondary button">Cancel</a>
             </div>
                    
            /*  end */
            </pre>
            </span>
    </section>
</section>
<section>
    <section>
        <h3>Exercise #5 - Validation</h3>
        <ol>
            <li>Make some fields mandatory</li>
            <li>Enforce a valid phone number format</li>
            <li>Disabling the submit button</li>
        </ol>
    </section>
    <section>
        <h3>Required fields</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[7,11]">
            /**
             *  Make Number of Guests and Name fields mandatory. 
             * (restaurant-reservation-form.js)
             **/
             <div class="large-6 columns">
                 <label>Number of Guests</label>
                 <input type="number" name="guests" placeholder="#" ng-model="reservation.guests" required/>
             </div>
             <div class="large-12 columns">
                 <label>Name:</label>
                 <input type="text" name="name" placeholder="Enter your full name"  ng-model="reservation.name" required/>
             </div>
      
            /*  end */
            </pre>
            </span>
    </section>
    <section>
        <h3>Patterns</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[6]">
            /**
             *  Add a pattern to the phone number field. (restaurant-reservation-form.js)
             **/
             <div class="large-6 medium-6 columns">
                 <label>Phone:</label>
                 <input type="text" ng-pattern="/^1?-?(\d{3})?-?\d{3}-?\d{4}$/" name="phone" placeholder="###-###-####" ng-model="reservation.phone" required />
             </div>

            /*  end */
            </pre>
            </span>
    </section>
    <section>
        <h3>Disabling</h3>
            <span style="font-size:  1.25rem;">
            <pre class="brush: js; highlight:[5]">
            /**
             *  Disable the submit button until the form data is complete. (restaurant-reservation-form.js)
             **/
             <div class="small-12 medium-12 large-12 small-centered columns">
                 <button class="small radius button" ng-click="makeReservation()" ng-disabled="reservationForm.$invalid">Make Reservation</button>
                 <a href="#/restaurants" class="small radius secondary button">Cancel</a>
             </div>
                    
            /*  end */
            </pre>
            </span>
    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <blockquote>
            <p>Link to solution source: </p>
            <a href="https://github.com/NVISIA/AngularWorkshop/blob/ex5-solution/webapp/index.html"
               target="_blank">index.html</a>
        </blockquote>
    </section>
    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
                <pre><code class="script">
                    Prompt:&gt; git checkout tags/ex5-solution;
                    or
                    Prompt:&gt; git checkout -f tags/ex5-solution;
                </code></pre>
        </div>
        </p>
    </section>

</section>

<section>
    <section>
        <h3>Using $resource</h3>
        <ol>
            <li>Convert Services from $http to $resource</li>
            <li>Define Resource methods</li>
        </ol>
    </section>
</section>
<section>
    <section>
        <h3>Exercise #6 - $http to $resource</h3>
        <ol>
            <li>Convert Services</li>
            <li>Define Resource methods</li>
        </ol>
    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <blockquote>
            <p>Link to solution source: </p>
            <a href="https://github.com/NVISIA/AngularWorkshop/blob/ex6-solution/webapp/js/restaurant.js"
               target="_blank">restaurant.js</a>
        </blockquote>
    </section>
    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>

        <p></p>

        <p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
                <pre><code class="script">
                    Prompt:&gt; git checkout tags/ex6-solution;
                    or
                    Prompt:&gt; git checkout -f tags/ex6-solution;
                </code></pre>
        </div>
        </p>
    </section>

</section>
<section>
    <section>
        <h3>Custom Directives</h3>
        <ol>
            <li>Convert Restaurant to a Directive</li>
            <li>ng-transclude</li>
        </ol>
    </section>
</section>
<section>
    <section>
        <h3>Exercise #7 - Custom Directives</h3>
        <ol>
            <li>Convert Restaurant to a Directive</li>
            <li>Use ng-transclude for a button</li>
        </ol>
    </section>
    <section>
        <h3>Test our results</h3>

        <p>Launch your node.js server and test the changes. (run.sh or run.bat)</p>

        <a href="http://localhost:9000/index.html" target="_blank">http://localhost:9000/index.html</a>

        <blockquote>
            <p>Link to solution source: </p>
            <a href="https://github.com/NVISIA/AngularWorkshop/blob/ex7-solution/webapp/js/restaurant.js"
               target="_blank">restaurant.js</a>
        </blockquote>
    </section>
    <section>
        <aside class="notes">
            <p>Make sure that when showing the git checkout, that they know it will wipe out their code.</p>
        </aside>
        <h3>
            Questions?
        </h3>
 
        <p></p>

        <p>

        <div class="fragment">
            <p>To Reset, perform a git checkout</p>
                <pre><code class="script">
                    Prompt:&gt; git checkout tags/ex7-solution;
                    or
                    Prompt:&gt; git checkout -f tags/ex7-solution;
                </code></pre>
        </div>
        </p>
    </section>

</section>


<section>
    <section><h3>Taking it Further</h3>
        <ul>
            <li>Unit Testing</li>
            <li>Security</li>
            <li>Mobile</li>
            <li>Marionette</li>
            <li>Binding Frameworks</li>
        </ul>
    </section>
    <section>
        <aside class="notes">
            <p>The backbone Validation framework states that if you pass TRUE to the model.isValid() method, it will
                force checking of validation.</p>
        </aside>
        <h3>QUnit Testing</h3>

        <span style="font-size:  1.0rem;">
        <pre class="brush: js;">
         // Modify the submission of the form to check validation. (reservation.js)
         var getReservation = function() {
            return new Reservation.Model({
                id: 'abc123',
                restaurantId: 'zyx987',
                name: 'Jerry Rice',
                phone: '1-800-123-4567',
                guests: 1,
                time: new Date().getTime()
            });
        };

        test("name-validation", function() {
            expect(2);

            var reservation = getReservation();
            ok(reservation.isValid(true), "Check valid model");

            reservation = getReservation();
            reservation.set('name', 'A');
            ok(reservation.isValid(true) === false, "Name is too short");
        });

        test("guests-validation", function() {

        });

        test("time-validation", function() {

        });

        test("phone-validation", function() {

        });
        // end
        </pre>
        </span>
    </section>

    <section>
        <h3>Security</h3>
        <ul>
            <li>Authentication - Login</li>
            <li>Access Security - Data Redaction</li>
        </ul>
    </section>

    <section>
        <h3>Mobile</h3>
        <ul>
            <li>Responsive design of Twitter Bootstrap or Foundation</li>
        </ul>
    </section>

    <section>
        <h3>Marionette</h3>
        <a href="http://marionettejs.com" target="_blank">http://marionettejs.com</a>
    </section>

    <section>
        <h3>Binding Frameworks</h3>
    </section>
</section>

<section>
    <h3>Questions</h3>
</section>

<section>
    <h3 style="padding-bottom: 1em;">Contact Us</h3>

    <div style="display: inline-block;">
    <ul style="list-style-type: none; display: inline-block; ">
        <li>
            <strong>Brian Peterson: </strong>
            <a href="mailto:bpeterson@nvisia.com?Subject=SPA%20Workshop" target="_top" style="float: right;width: 40%">bpeterson@nvisia.com</a>
        </li>

        <li>
            <strong>Tim Smith: </strong>
            <a href="mailto:tsmith@nvisia.com?Subject=SPA%20Workshop" target="_top" style="float: right;width: 40%">tsmith@nvisia.com</a>
        </li>

        <li>
            <strong>Mark Panthofer: </strong>
            <a href="mailto:mpanthofer@nvisia.com?Subject=SPA%20Workshop"
               target="_top" style="float: right;width: 40%;">mpanthofer@nvisia.com</a>
        </li>

        <li style="padding-top: 1em">
            <a href="http://www.nvisia.com/workshop-resources" target="_blank">Workshop
            Resource Page</a></li>

    </ul>
    </div>

</section>
<!--More Info-->
<section><h3>Resources</h3>


    <h5>API</h5>

    <p><a href="http://backbonejs.org/" target="_blank">Backbone.js - http://backbonejs.org</a></p>

    <p><a href="http://underscorejs.org/" target="_blank">Underscore.js - http://underscorejs.org</a></p>

    <p><a href="http://handlebarsjs.com" target="_blank">Handlebars - http://handlebarsjs.com</a></p>

    <p><a href="http://thedersen.com/projects/backbone-validation/" target="_blank">Backbone Validation -
        http://thedersen.com/projects/backbone-validation/</a></p>


    <aside class="notes">
        Microsoft's opinion on SPA.
        <p><a href="http://msdn.microsoft.com/en-us/magazine/dn463786.aspx" target="_blank">Microsoft SPA with
            ASP.Net</a></p>
    </aside>
</section>
<section>
    <h3>Thank you</h3>

</section>

<section>
    <h5>Other Resources</h5>

    <p><a href="https://github.com/jashkenas/backbone" target="_blank">Backbone Source</a></p>

    <p><a href="https://github.com/thedersen/backbone.validation" target="_blank">Backbone-Validation</a></p>

    <p><a href="https://github.com/jashkenas/underscore" target="_blank">Underscore</a></p>

    <p><a href="https://github.com/wycats/handlebars.js/" target="_blank">Handlebars</a></p>

    <p><a href="https://github.com/jquery/jquery" target="_blank">Jquery</a></p>

    <p><a href="https://github.com/jquery/qunit" target="_blank">Qunit</a></p>

    <p><a href="http://nodejs.org/" target="_blank">NodeJS</a></p>

</section>
</div>

</div>
<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: 'plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ]
    });
    Reveal.configure({ slideNumber: true });


</script>
<script type="text/javascript" src="scripts/shCore.js"></script>

<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
<link type="text/css" rel="stylesheet" href="styles/shCoreDefault.css"/>
<link rel="stylesheet" type="text/css" href="styles/shThemeDefault.css"/>


<script type="text/javascript">SyntaxHighlighter.all();</script>

</body>
</html>
