<div class="row">
    <div class="large-12 columns">
        <div class="callout panel">
            <div class="row">
                <h4>Reservation successfully created for:</h4>

                <p><strong>{{restaurant.name}}</strong></p>

                <div class="large-6 medium-12 small-12 columns" style="margin-bottom:15px;">
                    <label>Name: </label><span>{{ reservation.name }}</span>
                </div>
                <div class="large-6 medium-12 small-12 columns" style="margin-bottom:15px;">
                    <label>Phone Number: </label><span>{{ reservation.phone }}</span>
                </div>
                <div class="large-6 medium-12 small-12 columns" style="margin-bottom:15px;">
                    <label># of Guests: </label><span>{{ reservation.guests }}</span>
                </div>
                <div class="large-6 medium-12 small-12 columns" style="margin-bottom:15px;">
                    <label>Time: </label><span>{{reservation.time |dateFormatter}}</span>
                </div>
                <a href="#/restaurants" class="small radius button" style="color: #ffffff">Return to Restaurant List</a>
            </div>
        </div>
    </div>
</div>

