<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h5>The reservation form:</h5>
            <div ng-controller="ReservationFormController">
            <form name="reservationForm" novalidate class="css-form">
                <div class="row">
                    <div class="large-6 columns">
                        <h5><label>Selected Time:</label>{{selectedTime|date:"shortTime"}}</h5>
                    </div>
                    <div class="large-6 columns">
                        <label>Number of Guests</label>
                        <input type="number" name="guests" placeholder="#" ng-model="reservation.guests" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Name:</label>
                        <input type="text" name="name" placeholder="Enter your full name"  ng-model="reservation.name" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <label>Phone:</label>
                        <input type="text" ng-pattern="/^1?-?(\d{3})?-?\d{3}-?\d{4}$/" name="phone" placeholder="###-###-####" ng-model="reservation.phone"/>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="user@domain.ext" ng-model="reservation.email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 medium-8 columns">
                        <label>Seating:</label>
                        <input type="radio" name="location" value="Red" id="noPreference"><label for="noPreference">No Preference</label>
                        <input type="radio" name="location" value="Red" id="outside"><label for="outside">Outside</label>
                        <input type="radio" name="location" value="Blue" id="inside"><label for="inside">Inside</label>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Other Info:</label>
                        <input id="specialOccasion" name="isSpecialOccasion" type="checkbox"><label for="specialOccasion">Special Occasion</label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Special Requests:</label>
                        <textarea name="specialRequests" placeholder="Enter any special requests here."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-12 large-12 small-centered columns">
                        <button class="small radius button" ng-click="makeReservation()" ng-disabled="reservationForm.$invalid">Make Reservation</button>
                        <a href="#/restaurants" class="small radius secondary button">Cancel</a>
                    </div>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>
