<div class='restaurantList'>
    <input type="text" ng-model="query" placeholder="Search for restaurant"/>
    <div class="row" ng-repeat="restaurant in restaurants | filter:query:strict | orderBy:orderProp">
        <div class="large-12 columns">
            <div class="callout panel">
                <div ng-include src="'partials/restaurant.html'"/>
                <a class="button" style="color: white;" href="#/restaurant/{{restaurant.id}}">Show Times</a>
            </div>
        </div>
    </div>
</div>